header{
    text-shadow: 1px 1px white;
    background: lightgray;
    border-style:solid;
    border-color: lightblue;
    border-width: 20px;
    font-family: consolas;
    padding-left:2vw;
    border-radius: 5%;
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow:5px  10px #ebf5ff;
}
h3{
    text-align:right;
    padding-right:20vw;
}
button{
    text-shadow: 1px 1px white;
    background-color:lightgray;
    border-color:transparent;
    font-style:italic;
    font-family:consolas;
    font-size:20px;
    cursor:grab;
}