<div>
  <h2>Welcome {{ name }}</h2>
  <button *ngIf="!toggleShowDetails&&!updateFlag" class="show" (click)="onShowDetails()">Show Details</button>
  <button *ngIf="toggleShowDetails&&!updateFlag" class="show" (click)="onShowDetails()">Hide Details</button>
  <div *ngIf="toggleShowDetails&&updateFlag">
    <form [formGroup]="homeForm">
      <table>
        <thead>
            <tr>
              <th>PIC</th>
              <th>ID</th>
              <th>UserName</th>
              <th>Password</th>
              <th>RePassword</th>
              <th>Role</th>
            </tr>
          </thead>
          
        <tr>
          <td><img [src]="profilePic" width="70" height="70" /></td>
          <td class="entry">
            <input formControlName="userId" disabled />
          </td>
          <td class="entry">
            <input  formControlName="userName"  />
          </td>
          <td class="entry">
            <input formControlName="password"/>
          </td>
          <td class="entry">
              <input formControlName="repassword" />
            </td>
          <td class="entry">
              <input  formControlName="role" disabled />
            </td>
          <td class="button" >
            <button type="button" (click)="onUpdate()" class="submit">
              Update
            </button>
          </td>
          <td class="button">
            <button type="button" (click)="onToggleUpdate()" class="submit">
              Back
            </button>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <h3>Upload a profile pic?</h3>
      
    </form>

    <form [formGroup] = "pictureForm">
       <input class="file-upload" type="file" (change)="onFileChange($event)"> 
      <input type="submit" (click)="saveFile()">
    </form>

  </div>
  <div *ngIf="toggleShowDetails&&!updateFlag" class="detail">
   
      <table>
        <thead>
            <tr>
              <th>PIC</th>
              <th>ID</th>
              <th>UserName</th>
            </tr>
          </thead>
          
        <tr>
          <td><img [src]="profilePic" width="70" height="70" /></td>
          <td class="entry">
            {{user.userId}}
          </td>
          <td class="entry">
            {{user.userName}}
          </td>
          
          <td class="button">
            <button type="button" (click)="onDelete()" class="submit">
              Delete
            </button>
          </td>
          <td class="button">
            <button type="button" (click)="onToggleUpdate()" class="submit">
              Update
            </button>
          </td>
        </tr>
      </table>
  </div>
</div>
