td{
    background-color:lightblue;
    text-align:center;
    font-family: consolas;
}
button.del{
    font-family: consolas;
    background-color: red;
}
table{
    font-family: consolas;
    width:100vw;
}