<div>
    <button *ngIf="!buttonHide" class="show" (click)="showUsersToggle()">Show Users</button>
    <button *ngIf="!buttonHide" class="show" (click)="registerToggle()">Add new User</button>

    <div *ngIf="showUsersFlag">
        <button class="show" (click)="buttonReset()">Back</button>
        <table >
            
            <thead>
                <tr><th>PICTURE</th><th>ID</th><th>ROLE</th><th>NAME</th></tr>
            </thead>
           
            <tr *ngFor="let user of users" [user] = "user" >
                <td><img src={{profilePic+user.profilePicture}} width="70" height="70" /></td>
                <td  class="field">{{user.userId}}</td>
                <td class="field">{{user.role}}</td>
                <td class="field">{{user.userName}}</td>
                <td><button class="del" (click)="deleteUser(user.userId)">DELETE</button></td>
            </tr>
        </table>
    </div>



<div *ngIf="showRegisterFlag">
    <button class="show" (click)="buttonReset()">Back</button>
    <app-register></app-register>
  </div>
</div>